# Set language type for JavaScript files
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

# Set language type for Node.js files
*.json linguist-language=JSON
*.mjs linguist-language=JavaScript

# Set language type for Express files
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

# Set language type for Nginx configuration files
*.conf linguist-language=Nginx

# Other specific file types
*.html linguist-language=HTML
*.css linguist-language=CSS

# All other files
* linguist-language=JavaScript
